@model TARge21House.Models.House.HouseCreateUpdateViewModel

@if (Model.Id.HasValue)
{
	<h1>Update</h1>
}
else
{
	<h1>Create</h1>
}

<div>
	<form method="post" enctype="multipart/form-data">
		<input asp-for="Id" type="hidden"/>
		<input asp-for="CreatedAt" type="hidden" />
		<input asp-for="ModifiedAt" type="hidden" />

		<div class="form-group row">
			<label asp-for="MainColor" class="col-sm-2 col-form-label">Main Color</label>
			<div class="col-sm-10">
				<input asp-for="MainColor" class="form-control" />
			</div>
		</div>

		<div class="form-group row">
			<label asp-for="RoofColor" class="col-sm-2 col-form-label"> Roof Color</label>
			<div class="col-sm-10">
				<input asp-for="RoofColor" class="form-control" />
			</div>
		</div>

		<div class="form-group row">
			<label asp-for="Stories" class="col-sm-2 col-form-label"></label>
			<div class="col-sm-10">
				<input asp-for="Stories" class="form-control" />
			</div>
		</div>

		<div class="form-group row">
			<label asp-for="Bedrooms" class="col-sm-2 col-form-label"></label>
			<div class="col-sm-10">
				<input asp-for="Bedrooms" class="form-control" />
			</div>
		</div>

		<div class="form-group row">
			<label asp-for="Bathrooms" class="col-sm-2 col-form-label"></label>
			<div class="col-sm-10">
				<input asp-for="Bathrooms" class="form-control" />
			</div>
		</div>

		<div class="form-group row">
			<label asp-for="RentPrice" class="col-sm-2 col-form-label">Rent Price</label>
			<div class="col-sm-10">
				<input asp-for="RentPrice" class="form-control" />
			</div>
		</div>

		<div class="form-group row">
			<label asp-for="PurchasePrice" class="col-sm-2 col-form-label">Purchase Price</label>
			<div class="col-sm-10">
				<input asp-for="PurchasePrice" class="form-control" />
			</div>
		</div>

		<div class="form-group row">
			<label asp-for="BuiltDate" class="col-sm-2 col-form-label">Built Date</label>
			<div class="col-sm-10">
				<input asp-for="BuiltDate" class="form-control" />
			</div>
		</div>

		@if (Model.Id.HasValue)
		{
			<input asp-action="update" asp-controller="houses" type="submit" class="btn btn-primary" value="Update" />
		}
		else
		{
			<input asp-action="create" asp-controller="houses" type="submit" class="btn btn-primary" value="Create" />
		}

		<a asp-action="index" asp-controller="houses" class="btn btn-success">Back</a>
	</form>
</div>